name: CI

on:
  push:
    branches:
      - main
    tags:
      - "*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x, 14.x, 16.x]
    
    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Build
      run: |
        npm install
        npx webpack
    - name: Test
      run: xvfb-run -a npm run test
    - name: Package
      run: npm exec vsce -- package ${{ github.ref_name }} --no-git-tag-version
    - name: Upload artifact
      uses: actions/upload-artifact@v2
      with:
        name: vscode-uuid-${{ github.ref_name }}.vsix
        path: vscode-uuid-${{ github.ref_name }}.vsix
    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: vscode-uuid-${{ github.ref_name }}.vsix
